@import "tailwindcss";


:root {
  --primary-color: #1D4582;
  --background-color: #ffffff;
}


.primary-background {
   background-color: var(--primary-color);
}
 

 @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
  }

   @keyframes float-soft {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }

    .accent-gold {
      background: linear-gradient(90deg, #ffb86b, #ff9c3b);
    }